video,
img,
canvas {
    width: 400px;
    height: 250px;
}

#levelImg {
    min-width: 100%;
    min-height: 100%;
}

#player {
    display: none;
}

html,
body {
    height: 100%;
    margin: 0;
    background: black;
    overflow: hidden;
}

#level {
    min-height: 100%;
    margin: 0 auto;
}

#win,
#lose,
#black {
    position: absolute;
    bottom: 0;
    height: 100vw;
    width: 2vw;
}

#black {
    background: black;
    width: 5vw !important;
    left: 0;
}

#win {
    background: #00FF00;
    left: 0;
}

#lose {
    background: #FF0000;
    left: 2vw;
}
